<h1>Articles</h1>

<table>
  <thead>
    <tr>
      <th><strong>Title</strong></th>
      <th><strong>Description</strong></th>
      <th><strong>Action</strong></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article|%>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td>Acao</td>
      </tr>
    <% end %>
  </tbody>
</table>
