<div class="container">
  <% @users.each do |user| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center">
        <div class="card-header">
          <%=  link_to user.username, user %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= pluralize(user.articles.count, 'article') %></p>
          <%= link_to 'View Profile', user, class:"btn btn-outline-success" %>
          <%= link_to 'Edit Profile', edit_user_path(user), class:"btn btn-outline-info" %>
          
        </div>
        <div class="card-footer text-muted">
          2 days ago
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
