<div class="container" id="home-container">
  <div class="jumbotron text-center text-white">
    <h1 class="display-4">RBlog</h1>
    <p class="lead">This is a simple blog fo test RoR!</p>
    <hr class="my-4">
    <p>Click on the button to signup</p>
    <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>
